h1  {
  text-align: center;
  font-family: sans-serif;
  color: #5e9fb5;
  font-size: 55pt;
  font-weight: lighter;
}

h2 {
  font-family: sans-serif;
  font-size: 18pt;
  font-weight: 100;
  color: #86888c;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: 100;
  color: #86888c;
}

ul {
  font-family: cursive;
  font-size: 14pt;
}

img {
  height: 300px;
  width: 450px;
}
ß
